<html>
	<head>
		<title>Spotidora.fm</title>
		<link rel="stylesheet" type="text/css" href="css/defaultStyle.css">
		<link rel="stylesheet" type="text/css" href="css/sidebarStyle.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="font-awesome-animation.min.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
		<script src="javascript/playerScript.js"></script>
		<script type='text/javascript' src='//code.jquery.com/jquery-1.10.1.js'></script>
		<script type='text/javascript' src="javascript/toggleMenuScript.js"></script>
	</head>

	<body onkeypress="isKeyPressed(event)">

		<div class="sidebar">
			<div id="sidebar-toggle">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
			<ul class="sidebar-list">
				<li>
				<!--<input id="searchBar" type="text" name="search">-->
				</li>
				<li>
				</li>
				<li>
				</li>
				<li>
				Playlist_2
				</li>
				<li>
				Playlist_3
				</li>
				<li>
				Playlist_4
				</li>
			</ul>
		</div>
		
		<div class="content">
			<div id="headerWrapper">
				<h3 id="headerFont" style="margin:auto">Spotidora.fm</h3>
				<h3 id="userGreet">Hello User!</h3>
				<div id="metaTagDiv"></div>
			</div>
			<div id="mainPlayer">
				<button id="playPauseButton" onclick="playPause('song')" class="fa fa-play"></button>
				<div class="buttonContainer"><button class="playerButton" onclick="restartSong()"><i class="fa fa-fast-backward"></i></button></div>
				<div class="buttonContainer"><button class="playerButton" onclick="nextSong()"><i class="fa fa-fast-forward"></i></button></div>
				<div class="buttonContainer"><button class="playerButton" onclick="document.getElementById('song').volume-=0.1"><i class="fa fa-volume-down"></i></button></div>
				<div class="buttonContainer"><button class="playerButton" onclick="document.getElementById('song').volume+=0.1"><i class="fa fa-volume-up"></i></button></div>
			</div>

			
			
			<div id="playerWrapper">
				<div id="audioplayer" class="size-med">
				  <div id="songSlider" onclick="setSongPosition(this,event)">
				  	<div id="songTimeA">0:00</div>
				  	<div id="songTimeB"></div>
				  	<div id="trackProgress">
				  		<div id="songTimeC">0:00</div>
				  		<div id="songTimeD">&hellip;</div>
				  	</div>
				  </div>
				  <div id="volume-container">
				    <div id="volume" onclick="muteAudio()"><div id="volume-icon"></div><span>)</span><span>)</span><span>)</span></div>
				    <div id="volumeUp" onclick="changeVolume(10, 'up')">+</div><br>
				    <div id="volumeDown" onclick="changeVolume(10, 'down')">-</div>
				    <div id="volumeMeter" onclick="setNewVolume(this,event)"><div id="volumeStatus"></div></div>
				  </div>
				</div>

				<div id="songWrapper">
				<audio id="song" ontimeupdate="updateTime(); updatePlaylist();">
				  Your browser does not support the audio tag.
				</audio>
				</div>

			</div>
		</div>
	</body>
</html>